{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "parser": "typescript",
  "proseWrap": "preserve"
}
